if x,
    1
{
  dosomething(x);
}

if x {
  dosomething(x);
}
if x {
  dosomething(x);
}

class x {
  dosomething(x);
}

if x {
    dosomething(x);
  } else if x {
    dosomething(x);
  } else {
    dosomething(x);
    if x {
      dosomething(x);
    } else if x {
      dosomething(x);
    } else {
      dosomething(x);
    }
  }

if x then {
  dosomething(x);
} else if x then {
     dosomething(x);
} else {
  dosomething(x);
}

if x > 0 then begin
  dosomething(x);
end

if x > 0 then begin
  dosomething(x);
end

if x > 0 then
  dosomething(x);
else
  dosomething(x);
end

if x > 0 then
  dosomething(x);
else if x then
  dosomething(x);
else
  dosomething(x);
end

if x > 0 then {
  dosomething(x);
}


if x > 0 then {
  dosomething(x);
  if x > 0 then {
    dosomething(x);
  }else{
    a
  }
}

if x > 0 then {
  dosomething(x);
}else{
  a
}

if foo {

  } else {

}
